body{
  background-color:gray;
}

header{
  margin:10px;
  padding:5px 10px 5px 10px;
  text-align:center;
  background-color:black;
}

h1{
  font-size:xx-large;
  color:darkorange;
}

article{
  background-color: darkgray;
  color:darkmagenta;
  margin:20px 10px;
  padding: 5px;
}

h3{
  font-size:x-large;
  margin:5px;
}

ul{
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 5px;
  margin: 10px;
}

ol{
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 5px;
  margin: 10px;
}

p{
  font-size:large;
  margin:5px;
}

main{
  padding-bottom:235px;
}

footer{
  background-color:black;
  color:darkorange;
  margin:10px;
  padding:5px 10px;
}